* {
            margin: 0;
            color: white;
        }
        body {
            background-image: url(../images/viktor-forgacs-Bvo2-SNi0rw-unsplash.jpg);
            background-size:auto;
            
        }
        header {
            display: flex;
            flex-direction: column;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 10px 5px;

        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .logo {
            background-color: white;
            border: 10px;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: flex-end;
        
        }
        li {
            list-style-type: none;
            padding: 0 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        li:hover {
            background-color: rgb(144, 221, 234);
            color: black;
            border-radius: 10px;
        }
        
        
        .introduction {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            padding: 50px 50px;
            width: 60%;
        }
        .lineone {
            color: rgb(144, 221, 234);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .linetitle {
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
        }
        .linebiography {
            text-align: center;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-family: 'Courier New', Courier, monospace;
            line-height: 20px;
        }
        .extrapad {
            padding: 20px;
        }
        
        .competencies {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
        .learnmore:hover {
            background-color: rgb(144, 221, 234);
            color: black;
            border-radius: 10px;
        }
        .button {
            padding: 50px;
            border: 50px;
            margin: 50px;
        }
        .gill {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .learnmore {
            padding: 10px;
        }
        a {
            text-decoration: none;
        }